<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzx.mapper.admin.AuthorityMapper">

    <insert id="addAuthority" parameterType="authority">
        insert into authority(roleId,menuId) values (#{roleId},#{menuId})
    </insert>

    <delete id="deleteAuthoritys" parameterType="int">
        delete from authority where roleId=#{roleId}
    </delete>
    
    <select id="getAuthorityList" parameterType="int" resultType="authority">
        select * from authority where roleId=#{roleId}
    </select>

</mapper>