<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzx.mapper.admin.LogMapper">
    <insert id="addLog" parameterType="log">
        insert into log(tittle,content,createTime,type) values(#{tittle},#{content},#{createTime},#{type});
    </insert>

    <delete id="delete" parameterType="int">
        delete from log where id=#{id}
    </delete>

    <select id="findList" parameterType="map" resultType="log">
       select * from log where type =#{type}
       <if test="tittle != null">and tittle like '%${tittle}%'</if>
       <if test="content != null">and content like '%${content}%'</if>
       <if test="startDate != null">and createTime &gt;= #{startDate}</if>
        <if test="endDate != null">and createTime &lt;= #{endDate}</if>
        <if test="pageSize!=null">limit #{pageSize} </if>
        <if test="offset!=null">offset #{offset}</if>
    </select>

    <select id="getTotalNum" parameterType="map" resultType="int">
        select count(*) from log where type =#{type}
        <if test="tittle != null">and tittle like '%${tittle}%'</if>
        <if test="content != null">and content like '%${content}%'</if>
        <if test="startDate != null">and createTime &gt;= #{startDate}</if>
        <if test="endDate != null">and createTime &lt;= #{endDate}</if>
        <if test="pageSize!=null">limit #{pageSize} </if>
        <if test="offset!=null">offset #{offset}</if>
    </select>


</mapper>