<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzx.mapper.BookOrderMapper">
    <insert id="addBookOrder" parameterType="bookOrder">
         insert  into bookorder(accountId, roomTypeId,name, idCard ,phoneNum, status, arriveDate, leaveDate, createTime, remark) values(#{accountId},#{roomTypeId},#{name},#{idCard},#{phoneNum},#{status},#{arriveDate},#{leaveDate},#{createTime},#{remark});
     </insert>

    <delete id="deleteBookOrder" parameterType="int">
        delete from bookorder where id=#{id}
    </delete>

    <update id="eidtBookOrder" parameterType="bookOrder">
        update bookorder set accountId=#{accountId},roomTypeId=#{roomTypeId}, name=#{name},idCard=#{idCard}, phoneNum=#{phoneNum},status =#{status},arriveDate =#{arriveDate},leaveDate =#{leaveDate},remark =#{remark} where id=#{id}
    </update>

    <select id="getTotal" parameterType="map" resultType="int">
        SELECT count(*) FROM bookorder b
        JOIN
        (SELECT id FROM account WHERE phoneNum like '%${phoneNum}%')a
        on b.accountId=a.id
        WHERE 1=1
        AND name like '%${name}%'
        AND phoneNum like '%${phoneNum}%'
        <if test="arriveDate != null">AND arriveDate &gt;= #{arriveDate}</if>
        <if test="leaveDate != null">AND leaveDate &lt;= #{leaveDate}</if>
        <if test="status != null">AND status = #{status}</if>
        <if test="pageSize != null">limit #{pageSize}</if>
        <if test="offset != null">offset #{offset}</if>
    </select>

    <select id="findList" parameterType="map" resultType="bookOrder">
        SELECT * FROM bookorder b
        JOIN
        (SELECT id FROM account WHERE phoneNum like '%${accountPhone}%')a
        on b.accountId=a.id
        WHERE 1=1
        AND name like '%${name}%'
        AND phoneNum like '%${phoneNum}%'
        <if test="arriveDate != null">AND arriveDate &gt;= #{arriveDate}</if>
        <if test="leaveDate != null">AND leaveDate &lt;= #{leaveDate}</if>
        <if test="status != null">AND status = #{status}</if>
        <if test="pageSize != null">limit #{pageSize}</if>
        <if test="offset != null">offset #{offset}</if>
    </select>

    <select id="findBookOrderById" parameterType="int" resultType="bookOrder">
        select * from bookOrder where id=#{id}
    </select>

    <select id="findAll" resultType="bookOrder">
        select * from bookorder
    </select>

    <select id="findBookOrdersByAccountId" resultType="bookOrder" parameterType="int">
        select * from bookorder where accountId=#{id}
    </select>
</mapper>