<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <!--需要修改:
            1.本地的db.properties配置名及内容
            2.配置sessionFactory的mybatis配置文件名字
            3.spring要扫描的mybatis的mapper的文件包名
            4.扫描注解的包名
    -->

    <!-- 读取配置文件 -->
    <context:property-placeholder location="classpath:db.properties"/>

    <!-- 配置数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!--连接池中保留的最小连接数 -->
        <property name="minPoolSize" value="${datasource.connection.minPoolSize}"/>
        <!--连接池中保留的最大连接数。Default: 15 -->
        <property name="maxPoolSize" value="${datasource.connection.maxPoolSize}"/>

        <property name="maxIdleTime" value="${datasource.connection.maxIdleTime}"/>
        <property name="acquireIncrement" value="${datasource.connection.acquireIncrement}"/>
        <property name="initialPoolSize" value="${datasource.connection.initialPoolSize}"/>
        <property name="idleConnectionTestPeriod" value="${datasource.connection.idleConnectionTestPeriod}"/>
        <property name="acquireRetryAttempts" value="${datasource.connection.acquireRetryAttempts}"/>
        <property name="acquireRetryDelay" value="${datasource.connection.acquireRetryDelay}"/>
    </bean>

    <!-- 配置sessionFactory -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 指定配置文件位置 -->
        <property name="configLocation" value="classpath:mybatis.xml"/>
    </bean>

    <!-- 自动生成dao,mapper-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.yzx.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
    </bean>

    <!--扫描注解的包名-->
    <context:component-scan base-package="com.yzx"/>

    <!-- 开启事务注解-->
    <tx:annotation-driven></tx:annotation-driven>

    <!-- 配置数据库事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>